body{ background-color: #FBFBEF;} 
p { font-size:120%; font-family: serif} 
h3{ color: gray; }
p.theorem{color: blue; padding-top: 0px;
    padding-right: 100px;
    padding-bottom: 13px;
    padding-left: 100px; }

